*{
	
	margin: 0;padding: 0;list-style: none;
	
	
	
	
}


h1{
	
	margin-left: 80px;
}
.jieshao{
	
	margin-left: 35px;
}

#tupian>li>a>img {
	
	width: 200px;
	height: 200px;
	float: left;
	margin-left: 50px;
	margin-top: 40px;
}



.p{
	
	display: block;
	float: left;
	margin-top: 300px;
	margin-left: -100px;
		

}

.dibu{
	
	clear: left;
	
	
	
}
.dibudedibu{
	
	
	margin-top: 30px;
margin-left: 100px;
}




.liuyibufen{
	
height: 400px;	
	
}

.fanhuishouye{
	
	position: fixed;
	margin-top: 10px;
	margin-left: 800px;
	
	
	
}
.tupiankuang{
	
	width: 400px;
	height: 300px;
	margin-top: 100px;
	margin-left: 90px;
	
	border: 1px solid red;
	
}
.youbiande{
	
	position: absolute;
	left: 560px;
	top: 100px;
	width: 400px;
	height: 400px;
	border: 1px solid red;
	float: left;
}
.youbiande>label{
	
	margin-left: 100px;
	
	
	
}
.goumai{
	
	
	font-size: 25px;
	margin-left: 140px;
	margin-top: 100px;
}
.jiage{
	font-size: 24px;
	color: #FF0000;
position: absolute;
left: 50px;
top: 120px;

}
.fanhuia{
	position: fixed;
    left: 30px;
	
	
	
	
}